* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-header {
  padding: 0px 20px !important;
  color: rgb(1, 191, 240);
  background-color: rgb(1, 15, 203);
}

.logo {
  width: 40% !important;
}

html {
  font-size: 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
ul{
  margin:  0 !important;
}
input {
  display: none;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: white !important;
  padding: 2rem;
}

.nav__bar-btn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.nav__mobile {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 320px;
  background-color: #fff;
  max-height: 200px !important;
  transform: translateX(100%);
  transition: all 0.4s ease-in;
}

.nav__mobile-link {
  display: block;
  padding: 1rem;
}

.nav__mobile-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.nav__input:checked~.nav__mobile {
  transform: translateX(0);
}

.nav__input:checked~.nav__overlay {
  display: block;
}
@media (max-width:1023px) {
  .nav__bar-btn {
    display: block;
  }

  .nav__pc {
    display: none;
  }
}
.border-custom{
  border-radius: 0 !important;
}
.username{
  padding: 8px;
  width: 80% !important;
}
.label{
  font-size: 18px !important;
}
.form{
  margin-top: 20px ;
}
.form-check-input{
  display: inline-block !important;
}