<main class="pt-1 p-5 container">
  <div class="banner">
    <img src="assets/image/Audience_pages_students-1536x511.jpg" class="card-img border-custom" alt="">
  </div>
  <div class="text-center mt-4">
    <h1 class="h1 text-black">Welcome To eStudiez Portal</h1>
  </div>

  <div class="form">
    <form action="GET" class="main-form container w-75">
      <div class="border-form">

        <div class="input">
          <div class="form-group d-flex align-items-center justify-content-between">
            <label for="username" class="label">Enter Your Name:</label>
            <input type="text" id="username" class="form-control username" placeholder="Enter your name">
          </div>
        </div>

        <div class="choosen mt-5 d-flex justify-content-center flex-column container w-50">
          <div class="header">
            <p>Select The User Category You Belong To ?</p>
          </div>
          <div class="main d-flex ">
            <form action="GET">
              <div class="form-check d-flex flex-column  ">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="value" id="">
                  Student
                </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="value" id="">
                  Student
                </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="value" id="">
                  Student
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>